@CHARSET "UTF-8";

.icon-16-icon {background: url(../../../../media/com_inscricaoexames/images/icon-16x16.png) no-repeat; }
.icon-48-icon {background: url(../../../../media/com_inscricaoexames/images/icon-48x48.png) no-repeat; }
.icon-128-icon {background: url(../../../../media/com_inscricaoexames/images/icon-128x128.png) no-repeat; }